<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="PD_Listeners.Class_ITestListener"></listener>
	</listeners>
	<test name="Test_All">
		<classes>
			<class name="com.inet.testscripts.Tc1" />
			<class name="PD_Listeners.Class_ITestListener" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
